# Example .env file for Naptha
# Replace with actual values after running 'naptha signup'

HUB_USERNAME=example_user
HUB_PASSWORD=example_password
PRIVATE_KEY=example_private_key

# Option A: Hosted Node
NODE_URL=http://node.naptha.ai:7001

# Option B: Local Nose
# NODE_URL=http://localhost:7001

